<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <link rel="stylesheet" href="/static/reset.css">
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h2>Password Reset</h2>
            <p>Please enter your new password below.</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-group">
                    <label for="password">New Password</label>
                    <input type="password" id="password" name="new-password" autocomplete="off" required>
                </div>
                {% if invalid_password %}
                    <small class="invalid-password">
                        Password must contain 8 characters (a,b,..,A,B) and
                        use digit and special characters ($, %, @, #, etc.).<br>
                    </small>
                {% endif %}
                <div class="input-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" id="confirm-password" name="confirm-password" autocomplete="off" required>
                </div>
                {% if confirm_password %}
                    <small class="confirm-password">
                        Confirm your password properly!
                    </small>
                {% endif %}
                <button type="submit" class="btn-reset">Reset Password</button>
            </form>
        </div>
    </div>
</body>
</html>